@import "../../../styles/sass/NewThemeVariables.scss";

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  .auth-text {
    color: $secondaryColor;
  }
}
